.form {
  padding: 0 2em;

  & > * {
    display: flex;
  }

  &__group {
    padding: 0.5em 1em;

    &__field {
      display: flex;
      width: 50%;
      align-items: center;

      .fieldname {
        width: 6em;
      }
    }

    &__buttons {
      display: flex;
      flex-grow: 1;
      justify-content: center;

      button {
        padding: 0.5em 1em;
        width: 8em;
        margin: 20px;
      }
    }
  }

}