.component {
  padding: 2em;

  &__search {
    width: 30em;
    
    .mat-form-field-label {
      margin-left: 2em;
    }

    .mat-form-field-flex {
      font-size: 14px;
      width: 100%;
    }
  }
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
